/* ---------- nav -------- */

#nav_bar
{
	list-style-type:none; 
	margin: 0px;
}

#nav_bar li
{
	padding-top: 5px;
}

a:link, a:visited
{
	color: white;
	text-decoration: none;
	border-bottom: 1px pink dashed;
}

a:hover
{
	color: pink;
	text-decoration: none;
	border-bottom: 0;
}

#current_page
{
	color: red;
}

